# ignore metadata, 
.dropbox
.gitignore~
*.md~
.~lock.*

# Codeblocks
*.depend
*.layout

# Eagle
*.lck

#LTSpice
*.fft
*.log
*.net
*.raw

# ignore Datasheet PDF's to keep repository smaller
docs/*.pdf

# ignore build directories
obj/
bin/
